<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weird.eat_n_fit">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_eat_n_fit"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <activity android:name=".ui.qrcode.GenerateqrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.qrcode.ScanqrActivity">

        </activity>
        <activity android:name=".ui.wallet.SuccessTopUpActivity" />
        <activity android:name=".ui.wallet.TopUpActivity" />
        <activity android:name=".ui.wallet.WalletActivity" />
        <activity android:name=".ui.order.DetailTransactionActivity" />
        <activity android:name=".ui.order.OrderSuccessActivity" />
        <activity android:name=".ui.order.CheckoutActivity" />
        <activity android:name=".ui.order.NextOrderActivity" />
        <activity android:name=".ui.order.DetailMenuActivity" />
        <activity android:name=".ui.order.DetailPaketActivity" />
        <activity android:name=".ui.home.HomeActivity" /> <!-- <activity android:name=".ui.sign.register.RegisterPhotoActivity" /> -->
        <!-- <activity android:name=".ui.sign.register.RegisterActivity" /> -->
        <activity android:name=".ui.sign.signIn.screen.SignInActivity" />
        <activity android:name=".ui.Intro.IntroThreeActivity" />
        <activity android:name=".ui.Intro.IntroTwoActivity" />
        <activity android:name=".ui.Intro.IntroOneActivity" />
        <activity android:name=".ui.Intro.SplashScreenActivity" />
    </application>

</manifest>